.LoginContainer{
    display: block;
}

.LoginTextWrapper{
    width: 350px;
    display: flex;
}

.LoginCreateText{
    font-size:19px;
}

.LoginCreateAccount{
    margin-left:130px;
    font-size: 14px;
    padding-top:10px;
}
.CreateRegisterLink{
    padding-top:24px;
    margin-left:5px;
    font-size: 14px;
    text-decoration:none;
    color:#1ca070
}

.CreateRegisterLink:hover{
    text-decoration:underline;
}

.LoginForm{
    margin-top:-10px;
    width: 40%;
}

.LoginContent{
    margin-left:24%;
    margin-top: 10%;
    display: flex;
}

.LoginInput{
    margin-top:24px;
    font-size:18px;
    width:325px;
    padding-left:8px;
    border:1px solid rgba(0,0,0,0.15);
    border-width: 1px;
    line-height:normal;
    min-height:34px;
    border-radius: 3px;
}

.LoginButtonWrapper{
    margin-top:24px;
}

.LoginButton{
    font-size:18px;
    width:335px;
    background-color:#22c387;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.15);
    padding-top:8px;
    padding-bottom:8px;
    color:white;
    transition-duration: 0.3s;
}

.LoginButton:hover{
    background-color:#1ca070;
    cursor:pointer;
}

.login-img-wrapper{
    z-index: 1;
    position:absolute;
    left: 56%;
}

.login-img{
    height: 300px;
    width:auto;
} @media screen and (max-width: 940px){
    .login-img{
    visibility: hidden;
    }
}

.login-left-wrapper {
    display: block;
}
