.InfoSectionWrapper{
    display: block;
    background: #2edf79;
    background: linear-gradient(0deg, rgba(46,223,121,1) 0%, #22c387 100%);
    height: 980px;
    background-size:cover;
    margin-top: -36px;
    z-index: -1;
}

.TextHeadingWrapper{
    display: block;
    height : 10%;
    width: 35%;
    padding-top: 8.5%;
    padding-left: 12%;
}

.TextHeading{
    font-size: 58px;
    color: #343434;
    font-weight:bold;
    letter-spacing: .75px;

}

.TextSubheadingWrapper{
    display: block;
    width: 25%;
    padding-left: 12%;
}

.TextSubheading{
    font-size: 22px;
    color: #343434;
    font-weight:300;

}

.ContentButtonWrapper{
    padding-top: 40px;
    display: block;
    padding-left: 12%;
    height: 100px;
}

.ContentButton{
    font-size: 28px;
    padding: 12px 50px;
    border-radius: 10px;
    border: rgb(46,223,121);
    align-items: center;
    width: 20%;
    transition-duration: 0.3s;
    cursor:pointer;
    background-color: white;
    text-decoration: none;
    color:black;
}

.ContentButton:hover{
    background-color: #effced;
}

.info-image-wrapper{
    z-index: 1;
    position:absolute;
    padding-left: 45%;
    height: 50%;
    width: auto;
    top:27%;
}

.info-image {
    height: 100%;
    width: 100%;
    z-index: 1;
    position:absolute;
}

@media screen and (max-width: 1248px) {
    .info-image-wrapper{
    top: 35%; 
    }
}