.NavContainer{
    background: white;
    height: 100px;
    width: 100%;
    display:flex;
}

.NavLogoWrapper{
    padding-left:3%;
    padding-top:14px;
    width: 75%;
} @media screen and (max-width: 960px) {
    .NavLogoWrapper{
    width: 65%;
    }
}

.NavLogo{
    font-size:30px;
    text-decoration: none;
    color:#22c387;
}
.NavLoginWrapper{
    padding-top: 22px;
    align-items:center;
} 
.NavLogin{
    background-color: white;
    color:black;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 24px;
    transition-duration: 0.3s;
}
.NavLogin:hover{
    background: #C5E1A5;
}

.NavSignupWrapper{
    padding-top: 22px;
    align-items: center;
    padding-left: 18px; 
}

.NavSignup{
    background-color: #9CCC65;
    color:black;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 18px;
    transition-duration: 0.3s;
}

.NavSignup:hover{
    background-color: #8AB35B;
}

