.userContent{
    display:flex;
    padding-top: 75px;
}
.userPage{
    display:block;
}

.list-wrapper{
    margin-top: 50px;
    width: 92%;
    
}


.list-heading{
    margin-left: 3.4%;
    width: 100%;
    display:flex;
    background-color: white;
}

.list-heading-title{
    font-weight:bold;
    color:rgb(68, 67, 67);
    margin-right: 50%
}

.list-heading-owner{
    font-weight:bold;
    color:rgb(68, 67, 67);
    margin-right: 23%
}

.list-heading-modified{
    font-weight:bold;
    color:rgb(68, 67, 67);
    margin-right: 50%;
}

.list-container{
    margin-left: 2%;
    width: 100%;
}

