.user-board{
    height: 50px;
    width: 120%;
    border-top:1px solid rgba(0,0,0,0.15);
    display:flex;
}

.user-board-link{
    color: rgb(66, 66, 179);
    text-decoration: none;
    width: 43.8%;
    padding-left: 50px;
    top: 14px;
    position: relative;
}
.user-board-owner-wrapper {
    width: 22.2%;
}
.user-board-date-wrapper {
    width: 10%;
}
.icon-button {
    margin-top: 0.7%;
    background-color: white;
    border:0cm;
    cursor:pointer;
    
}
.icon-button-wrapper{
    margin-top: 0.55%;
    margin-right: 1%;
}
.user-board-link:hover{
    text-decoration: underline;
}