.RegisterContainer{
    display: block;
    height:980px;
}

.RegisterTextWrapper{
    width: 350px;
    display: flex;
}

.CreateText{
    font-size:19px;
}

.CreateLogin{
    margin-left:130px;
    font-size: 14px;
    padding-top:10px;
}
.CreateLoginLink{
    padding-top:24px;
    margin-left:5px;
    font-size: 14px;
    text-decoration:none;
    color:#1ca070
}

.CreateLoginLink:hover{
    text-decoration:underline;
}

.RegisterForm{
    margin-top:-10px;
}

.RegisterContent{
    margin-left:600px;
    margin-top:190px;
    margin-bottom:-70px;
}

.RegisterInput{
    margin-top:24px;
    font-size:18px;
    width:325px;
    padding-left:8px;
    border:1px solid rgba(0,0,0,0.15);
    border-width: 1px;
    line-height:normal;
    min-height:34px;
    border-radius: 3px;
}

.RegisterButtonWrapper{
    margin-top:24px;
}

.RegisterButton{
    font-size:18px;
    width:335px;
    background-color:#22c387;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.15);
    padding-top:8px;
    padding-bottom:8px;
    color:white;
    transition-duration: 0.3s;
}

.RegisterButton:hover{
    background-color:#1ca070;
    cursor:pointer;
}