.FormNavContainer{
    background: white;
    height: 64px;
    display:flex;
    box-shadow: 0 4px 2px -3px gray;
}

.FormNavLogoWrapper{
    padding-left:60px;
    padding-top:14px;
}

.FormNavLogo{
    font-size:30px;
    padding-top: 10px;
    text-decoration: none;
    color:#22c387;
}
